@import "tailwindcss";
nav {
    font-family: Inter;
}
.noto-serif {
    font-family: Noto Serif;
}
.inter {
    font-family: Inter;
}
.plant-card {
    border: none;
    box-shadow: 0px 0px 12px rgba(179, 179, 179, 0.489);
    /* width: 271px; */
    font-family: Inter;
    text-align: center;
    border-radius: 8px;
}
.plant-card img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.plant-card h2 {
    margin-top: 18px;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0px;
}
.plant-card p {
    margin-top: 2px;
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 1.5rem;
}
.plant-card button {
    background-color: #e95a08;
    width: 100%;
    padding: 24px 50px;
    font-weight: 600;
    font-size: 16px;
    color: white;
    margin-top: 16px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
