@import "tailwindcss";
* {
    box-sizing: border-box;
}

nav {
    font-family: Inter;
}
.noto-serif {
    font-family: Noto Serif;
}
.inter {
    font-family: Inter;
}
.plant-card {
    border: none;
    box-shadow: 0px 0px 12px rgba(179, 179, 179, 0.489);
    /* width: 271px; */
    font-family: Inter;
    text-align: center;
    border-radius: 6px;
}
.plant-card img {
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.plant-card h2 {
    margin-top: 18px;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0px;
}
.plant-card p {
    margin-top: 2px;
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 1.5rem;
}
.plant-card button {
    background-color: #e95a08;
    width: 100%;
    padding: 18px 36px;
    font-weight: 600;
    font-size: 16px;
    color: white;
    margin-top: 16px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.plant-lover-text-container ul li {
    margin-bottom: 16px;
    font-family: Inter;
    color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 1024px) {
    .trusted-badge {
        display: none;
    }
}
