@import "tailwindcss";
* {
    box-sizing: border-box;
}

nav {
    font-family: Inter;
}
.noto-serif {
    font-family: Noto Serif;
}
.inter {
    font-family: Inter;
}
.plant-card {
    border: none;
    box-shadow: 0px 0px 12px rgba(179, 179, 179, 0.489);
    /* width: 271px; */
    font-family: Inter;
    text-align: center;
    border-radius: 6px;
}
.plant-card img {
    width: 100%;
}
.plant-card h2 {
    margin-top: 18px;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0px;
}
.plant-card p {
    margin-top: 2px;
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 1.5rem;
}
.plant-card button {
    background-color: #e95a08;
    width: 100%;
    padding: 18px 36px;
    font-weight: 600;
    font-size: 16px;
    color: white;
    margin-top: 16px;
}
.plant-lover-text-container ul li {
    margin-bottom: 16px;
    font-family: Inter;
    color: rgba(0, 0, 0, 0.5);
}

.latest-deal-card-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
    font-family: sans-serif;
}

.latest-deal-card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.latest-deal-card {
    position: relative;
    height: 100%;
    /* width: 100%; */
    /* overflow: hidden; */
    border-radius: 8px;
}
.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
/* .deal-ana {
    background-image: url(/assets/deal-ana.png);
    background-position: center;
    object-fit: contain;
    background-repeat: no-repeat;
} */
.content {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.content h2 {
    font-weight: bold;
    margin-bottom: 8px;
}

.content a {
    text-decoration: underline;
    color: white;
    font-weight: bold;
}

.join-section {
    background-image: url(/assets/news-letter-bg.png);
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.footer-column-two ul li,
.footer-column-three ul li {
    margin-bottom: 16px;
    color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 1024px) {
    .trusted-badge {
        display: none;
    }
}
